body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../Images/background.jpg);  
    background-size: 50% auto;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: top center;
    background-blend-mode: lighten;
    background-color: #f9f5f0;
    color: #333;
    line-height: 1.6;
    text-decoration: none;
}
header {
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-bottom: 2px solid #750000;
}
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li {
    margin: 0 .3rem;
}
nav a {
    text-decoration: none;
    color: #750000;
    font-weight: 350;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}
nav a:hover {
    background-color: #750000;
    color: #f9f5f0;
    border-radius: 20px;
}
.logo{
    height: 50px;
    display: absolute;
    align-items: center;
    margin-left: -5rem;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #5a4a42;
    margin: 3px 0;
    transition: 0.3s;
}


.nav-icons {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.nav-icon {
    width: 25px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon:hover {
    opacity: 0.7;
}
.nav-icon svg {
    width: 100%;
    height: 100%;
    fill: none;
}
section {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #5a4a42;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.product-item a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #750000;
    border-radius: 24px;
    transition: opacity 0.3s;
}

.product-item a:hover{
    opacity: 0.7s;
    color: #750000;
    background-color:#f9f5f0;
    box-shadow: 0px 5px 10px #750000;
}
.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.best-sellers .product-item {
    flex-basis: calc(30% - 1rem);
}
.bouquets .product-item {
    flex-basis: calc(20% - 0.1rem);
}
.other-products .product-item {
    flex-basis: calc(20% - 0.1rem);
}

.product-item {
    background-color: #f9f5f0;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: #e8d5b7;
    color: #5a4a42;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    nav ul {
        position: absolute;
        top: 10%;
        left: 2;
        width: 50%;
        background-color: #e8d5b7;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 1rem 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    nav li {
        margin: 0.5rem 0;
    }
    .hamburger {
        display: flex;
    }
    .show-menu {
        display: flex !important;
    }
    .user-icon {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    section {
        margin: 1rem;
        padding: 3rem;
    }
    .logo {
        display: none;
    }

    .product-grid {
        flex-direction: column;
    }

    .best-sellers .product-item {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    .best-sellers .product-item img {
        max-width: 80%;
    }

    .product-item img {
    max-width: 80%;
    height: auto;
    }
}